<?xml version="1.0" encoding="UTF-8"?>
<configuration>
     <property resource="application.properties" />
    <property scope="context" name="LOG_HOME" value="${logging.path}" />
    <property scope="context" name="FILE_NAME" value="application.log" />

<appender name="Console"
        class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} %msg%n
            </Pattern>
        </layout>
    </appender>
    
    <appender name="FILE_APPENDER"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${FILE_NAME}</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_HOME}/archived/${FILE_NAME}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>

            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>



    <logger name="com.kb" level="info"
            additivity="false">
        <appender-ref ref="FILE_APPENDER" />
        <appender-ref ref="Console" />
        
    </logger>

    <logger name="org.springframework.web" level="info"
            additivity="false">
        <appender-ref ref="FILE_APPENDER" />
        <appender-ref ref="Console" />
    </logger>

    <logger name="org.hibernate" level="error"
            additivity="false">
        <appender-ref ref="FILE_APPENDER" />
        <appender-ref ref="Console" />
    </logger>

    <root level="error">
        <appender-ref ref="FILE_APPENDER" />
        <appender-ref ref="Console" />
    </root>

</configuration>